<% form_for(:user, @user, :url => '/account/settings', :html => { :method => :put }) do |f| %>
	<div>
		<%= error_messages_for :user, :header_message => nil, :message => 'Sorry, but there was a problem. Please correct the following errors:', :id => 'alert', :class => 'notice' %>
		
		<p>Choose the tweets you want to be notified about:</p>
		
		<ul class="smaller">
			<li><em class="underline">DMs</em> &mdash; when you have new Direct Messages</li>
			<li><em class="underline">mentions</em> &mdash; when your username appears in a tweet</li>
			<li><em class="underline">Lists</em> &mdash; when a new tweet appears in a list you follow</li>
		</ul>
		
		<h3 class="clear">Twitter Options</h3>
		
		<div class="clear">
			<%= f.label :enable_dms, 'Notify on DM', {:class => 'for-checkbox'} %>
			<%= f.check_box :enable_dms, {:class => 'checkbox'} %>
			
			<div id="dm-priority-container" class="clear js-hide">
				<label for="dm-priority" class="for-select">DM Priority</label>
				<select name="user[dm_priority]" id="dm-priority" class="select">
					<option value="-1" <% if @user.dm_priority == -1 %>selected="selected"<% end %>>Low</option>
					<option value="0" <% if @user.dm_priority == 0 %>selected="selected"<% end %>>Normal</option>
					<option value="1" <% if @user.dm_priority == 1 %>selected="selected"<% end %>>High</option>
					<option value="2" <% if @user.dm_priority == 2 %>selected="selected"<% end %>>Emergency</option>
				</select>
			</div>
		</div>
		
		<div class="clear space">
			<%= f.label :enable_mentions, 'Notify on mention', {:class => 'for-checkbox'} %>
			<%= f.check_box :enable_mentions, {:class => 'checkbox'} %>
			
			<div id="mention-priority-container" class="clear js-hide">
				<label for="mention-priority" class="for-select">mention Priority</label>
				<select name="user[mention_priority]" id="mention-priority" class="select">
					<option value="-1" <% if @user.mention_priority == -1 %>selected="selected"<% end %>>Low</option>
					<option value="0" <% if @user.mention_priority == 0 %>selected="selected"<% end %>>Normal</option>
					<option value="1" <% if @user.mention_priority == 1 %>selected="selected"<% end %>>High</option>
					<option value="2" <% if @user.mention_priority == 2 %>selected="selected"<% end %>>Emergency</option>
				</select>
			</div>
		</div>
		
		<div class="clear space">
			<%= f.label :enable_list, 'Watch A List', {:class => 'for-checkbox'} %>
			<%= f.check_box :enable_list, {:class => 'checkbox'} %>
			
			<div id="list-container" class="clear js-hide">
				<% if @lists and @lists.size > 0 %>
					<div class="clear">
						<label for="notification-list" class="for-select">List To Watch</label>
						<select name="user[notification_list]" id="notification-list" class="select">
							<% unless @user.notification_list %><option value="" selected="selected">--- Select a list ---</option><% end %>
							<% @lists.each do |list| %>
								<option value="<%= list.id %>" <% if @user.notification_list == list.id %>selected="selected"<% end %>><%= h list.full_name %></option>
							<% end %>
						</select>
					</div>
					
					<div class="clear">
						<label for="list-priority" class="for-select">List Priority</label>
						<select name="user[list_priority]" id="list-priority" class="select">
							<option value="-1" <% if @user.list_priority == -1 %>selected="selected"<% end %>>Low</option>
							<option value="0" <% if @user.list_priority == 0 %>selected="selected"<% end %>>Normal</option>
							<option value="1" <% if @user.list_priority == 1 %>selected="selected"<% end %>>High</option>
							<option value="2" <% if @user.list_priority == 2 %>selected="selected"<% end %>>Emergency</option>
						</select>
					</div>
				<% else %>
					<p style="font-size: .8em;">Your account doesn't have any lists associated with it.<br />Please add a list at <a href="http://twitter.com">Twitter</a>.</p>
				<% end %>
			</div>
		</div>
		
		<h3 class="clear space">iPhone Options</h3>
		
		<div class="clear">
			<%= f.label :prowl_api_key, 'Prowl API Key <span class="req">*<span class="hide">Required</span></span>' %>
			<%= f.text_field :prowl_api_key, :class => "text-long" %>
		</div>
		
		<div class="clear space">
			<%= f.label 'submit', 'Submit Settings Change', {:class => 'hide'} %>
			<%= f.submit 'Update Settings', { :class => 'submit', :method => :put } %> | <%= link_to 'Cancel', '/account', {:class => 'button'} %>
		</div>
	</div>
<% end %>

<h3 class="clear space">Refresh Twitter Lists</h3>

<p>If you have added/removed lists from your Twitter account and they aren't showing up on this page, you can force a refresh of available Twitter lists.</p>

<% form_tag('/account/refresh-lists', { :class => 'clear form', :method => :put }) do %>
	<div>
 		<%= submit_tag "Refresh available lists", {:class => 'submit'} %>
	</div>
	<div class="block clear space"></div>
<% end %>
