<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= PreyFetcher::config(:app_name) %><% unless @title.nil? %>: <%= @title %><% end %></title>
    
    <link href="<%= asset "stylesheets/reset.css" %>" media="screen" rel="stylesheet" type="text/css">
    <link href="<%= asset "stylesheets/app.css" %>" media="screen" rel="stylesheet" type="text/css">
    
    <script src="http://www.google.com/jsapi?key=ABQIAAAAN9kqWR8Iymy3XzomcLTzURTJi1_g9C4kpJVNHDM-iHukiHJeyxS7f50NnzrBx8eVpw559uASPsfAjg"></script>
    <script>google.load('jquery', '1.4');</script>
    <script src="<%= asset "javascripts/app.js" %>"></script>
    
    <link rel="alternate" href="http://github.com/tofumatt/Prey-Fetcher/commits.atom" title="Recent Commits to Prey-Fetcher (via GitHub)" type="application/atom+xml">
    <link rel="icon" type="image/png" href="<%= asset "favicon.png" %>">
    <!--[if IE]><link rel="shortcut icon" href="<%= asset "favicon.ico" %>"><![endif]-->
  </head>
  <body class="<% if logged_in? %>logged-in<%end %> <% if request.path_info == '/' %>homepage<% else %><%= request.path_info.slice(1..-1) %><% end %>">
    <div id="header">
      <a href="/" id="app-name"><%= PreyFetcher::config(:app_name) %></a>
    </div>
    
    <div id="menu">
      <nav>
        <ul>
          <li><a href="/features" class="<%= request.path_info.slice(1..-1) == 'features' ? 'active ' : '' %>menu-item">Features</a></li>
          <li><a href="/about" class="<%= request.path_info.slice(1..-1) == 'about' ? 'active ' : '' %>menu-item">About</a></li>
          <li><a href="/privacy" class="<%= request.path_info.slice(1..-1) == 'privacy' ? 'active ' : '' %>menu-item">Privacy</a></li>
          <% unless logged_in? %>
            <li><a href="/login" id="sign-in-button">Signup now</a></li>
          <% else %>
            <li id="user-info"><span class="menu-item">@<%= current_user.twitter_username %> | <a href="/account">Settings</a> | <a href="/logout">Logout</a></span></li>
          <% end %>
        </ul>
      </nav>
    </div>
    
    <div id="container">
      <div id="page">
        <% unless @title.nil? %><h1><%= @title %></h1><% end %>
        
        <div id="content">
          <% unless flash[:error].blank? %><div id="error" class="notice"><%= flash[:error] %></div><% end %>
          <% unless flash[:alert].blank? %><div id="alert" class="notice"><%= flash[:alert] %></div><% end %>
          <% unless flash[:notice].blank? %><div id="notice" class="notice"><%= flash[:notice] %></div><% end %>
          
          <%= yield %>
          
          <div class="clear"></div>
        </div>
        
        <% if current_user.multiple_accounts? %>
          <form action="/account-switch" method="POST" id="account-switcher" class="js-hide">
            <input type="hidden" name="_method" value="put">
            
            <h3 class="clear space">Change Account</h3>
            
            <% current_user.accounts.each do |a| %>
              <div class="account clear">
            		<input type="radio" id="account_switch_<%= a.id %>" class="radio-button" name="id" value="<%= a.id %>"<% if current_user.id == a.id %> checked="checked"<% end %>>
            		<label for="account_switch_<%= a.id %>">@<%= a.twitter_username %></label>
                
            		<div class="clear"></div>
              </div>
            <% end %>
            
            <div class="clear js-hide space">
          		<label for="account-switch_submit" class="hide">Switch Account</label>
          		<input type="submit" id="account-switch_submit" class="submit" name="commit" value="Switch Account">
          	</div>
          </form>
        <% end %>
        
        <div class="clear"></div>
      </div>
      
      <div class="clear last-in-container"></div>
    </div>
    
    <div id="footer" class="clear">
      <div id="footer-inner">
        <a href="http://www.pledgie.com/campaigns/10696" id="pledgie-link">
          <img alt="Make a donation to Prey Fetcher at www.pledgie.com!" src="http://www.pledgie.com/campaigns/10696.png?skin_name=chrome" />
        </a>
        
        <p><%= number_format(Notification.count) %> notifications delivered. Follow <a href="http://twitter.com/preyfetcher">@preyfetcher</a> for updates.<br>
        Powered by <a href="http://twitter.com">Twitter's Streaming APIs</a>.</p>
        
        <p>© 2011 <a href="http://lonelyvegan.com">Matthew Riley MacPherson</a>. <a href="http://twitter.com/tofumatt">Follow me on Twitter</a>.<br>
        <a href="/open-source">MIT-licensed</a>. <a href="http://github.com/tofumatt/Prey-Fetcher">Source available on GitHub</a>.</p>
      </div>
    </div>
    
    <% if Sinatra::Application.environment == :production %>
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-3850161-7");
      pageTracker._trackPageview();
      } catch(err) {}</script>
    <% end %>
  </body>
  
  <!-- <%= PreyFetcher::config(:app_user_agent) %> -->
</html>
<!-- Under a sheet of rain in my heart -->
